<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799100120755-lfe6ou7p3qf5baurtg1nv83j7dr9pnco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799100120755-lfe6ou7p3qf5baurtg1nv83j7dr9pnco</string>
	<key>API_KEY</key>
	<string>AIzaSyCLu3kJNqc6KEWkk2gfTxPBrF4p5K1G8J0</string>
	<key>GCM_SENDER_ID</key>
	<string>799100120755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bibletiles</string>
	<key>PROJECT_ID</key>
	<string>logindemo-26a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-26a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799100120755:ios:2fa6d25a73c5c2fa8f0ac6</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-26a4f.firebaseio.com</string>
</dict>
</plist>